<% provide(:title, "About") %>
<h1>About</h1>
<p>Best Photo was started in 2017 by Simon Whitelaw based on popularity of instagram, but with some new ideas - such as a public photo contest - in mind.</p>