<% provide(:title, "Help") %>
<h1>Help Page</h1>
<p>Please see our <a href="http://www.google.com">FAQ page</a> for frequently asked questions</p>
<p>You can also email us any concerns or questions at test@best_photo.com</p>
